<div class="buttons-container">
    <div class="top-buttons">
        <button 
            *ngFor="let button of operatorTop"
            #button.reference
            (click)="onClick(button.reference)" 
            [id]="button.id"
            >{{button.operator}}
        </button>
    </div>

    <section>
        <div class="num-buttons">
            <div class="button-number" *ngFor="let number of numbers">
                <button 
                    #number.reference
                    (click)="onClick(number.reference)" 
                    [id]="number.id"
                    >{{number.number}}
                </button>
            </div>
        </div>

        <div class="right-buttons">
            <button 
                *ngFor="let button of operatorsRight"
                #button.reference
                (click)="onClick(button.reference)" 
                [id]="button.id"
            >{{button.operator}}
            </button>
        </div>
    </section>
</div>
